html{
  scroll-behavior: smooth; /* hace que scrollee suavemente siempre va en la html*/
}
body{
    margin: 0;
    padding: 0;
  
}
nav{
    display: flex;  
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px;
    background-color:rgb(4, 39, 60);
}
h1, h2{
  font-family: 'Montserrat';
  flex-direction: row;
}
li, span{
  font-family: 'Roboto Condensed'
}
p{
  font-size: 20px;
  font-family: 'Lato';
}
.navbar.head{
    z-index: 100;
    color: #fff;
    padding-left: 10px;
}
.elements{
  display:flex;
  z-index: 0;
  align-items: center;
  justify-content:left;
  text-align: center;

}
.menubar.nav{
    list-style: none;
    display: flex;
    gap: 16px;
    z-index: 0;
    align-items: center;
    justify-content: right;
    text-align: center;
    padding-left: 60%;
    padding-right: 10%;
    left: vw;
}
.directions{
    scroll-behaviour: smooth;
    color: #fff;
    text-decoration: none;
}
.heading{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(59, 153, 153);
}
#aboutme{
  height: 100vh;/*significa que ocupa el tamaño de la ventana*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #43BF9B;
}
#codeforces{
  color: black;
  
}
.skills{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  height: 100vh; 
  background-color: #2FA18A;
}
#skills-header{
  margin: 0 auto;
  padding-top: 20px;
}
.skillbar{ 
  height: 15px;
  width: 500px;
  border-radius: 10px;
  background-color: #000;
  margin-bottom: 50px;
  display: flex;
}
.skillbarname{
  padding:15px ;
  padding-left: 15%;
}
.skillbar.percentage{
  background-color:#fff ;
}
#js{
  width: 50%;
}
#css{
  width: 60%;
}
#html{
  width: 80%;
}
#cpp{
  width: 60%;
}
